  <!-- 0 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs < 7.5">
    <img width="21rem" src="../assets/icons/winds/0deg.svg">
  </span>

  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs > 352.5">
    <img width="21rem" src="../assets/icons/winds/0deg.svg">
  </span>

  <!-- 15 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 7.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 22.5">
    <img width="21rem" src="../assets/icons/winds/15deg.svg">
  </span>

  <!-- 30 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 22.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 37.5">
    <img width="21rem" src="../assets/icons/winds/30deg.svg">
  </span>

  <!-- 45 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 37.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 52.5">
    <img width="21rem" src="../assets/icons/winds/45deg.svg">
  </span>

  <!-- 60 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 52.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 67.5">
    <img width="21rem" src="../assets/icons/winds/60deg.svg">
  </span>

  <!-- 75 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 67.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 82.5">
    <img width="21rem" src="../assets/icons/winds/75deg.svg">
  </span>

  <!-- 90 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 82.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 97.5">
    <img width="21rem" src="../assets/icons/winds/90deg.svg">
  </span>

  <!-- 105 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 97.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 112.5">
    <img width="21rem" src="../assets/icons/winds/105deg.svg">
  </span>

  <!-- 120 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 112.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 127.5">
    <img width="21rem" src="../assets/icons/winds/120deg.svg">
  </span>

  <!-- 135 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 127.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 142.5">
    <img width="21rem" src="../assets/icons/winds/135deg.svg">
  </span>

  <!-- 150 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 142.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 157.5">
    <img width="21rem" src="../assets/icons/winds/150deg.svg">
  </span>

  <!-- 165 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 157.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 172.5">
    <img width="21rem" src="../assets/icons/winds/165deg.svg">
  </span>

  <!-- 180 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 172.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 187.5">
    <img width="21rem" src="../assets/icons/winds/180deg.svg">
  </span>

  <!-- 195 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 187.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 202.5">
    <img width="21rem" src="../assets/icons/winds/195deg.svg">
  </span>

  <!-- 210 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 202.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 217.5">
    <img width="21rem" src="../assets/icons/winds/210deg.svg">
  </span>

  <!-- 225 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 217.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 232.5">
    <img width="21rem" src="../assets/icons/winds/225deg.svg">
  </span>

  <!-- 240 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 232.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 247.5">
    <img width="21rem" src="../assets/icons/winds/240deg.svg">
  </span>

  <!-- 255 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 247.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 262.5">
    <img width="21rem" src="../assets/icons/winds/255deg.svg">
  </span>

  <!-- 270 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 262.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 277.5">
    <img width="21rem" src="../assets/icons/winds/270deg.svg">
  </span>

  <!-- 285 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 277.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 292.5">
    <img width="21rem" src="../assets/icons/winds/285deg.svg">
  </span>

  <!-- 300 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 292.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 307.5">
    <img width="21rem" src="../assets/icons/winds/300deg.svg">
  </span>

  <!-- 315 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 307.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 322.5">
    <img width="21rem" src="../assets/icons/winds/315deg.svg">
  </span>

  <!-- 330 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 322.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 337.5">
    <img width="21rem" src="../assets/icons/winds/330deg.svg">
  </span>

  <!-- 345 degrees -->
  <span *ngIf="this.getWeather.weatherLocalDetails.windDirection9Hrs >= 337.5 && this.getWeather.weatherLocalDetails.windDirection9Hrs < 352.5">
    <img width="21rem" src="../assets/icons/winds/345deg.svg">
  </span>
