<div class="container">

    <div id="temp">
      <div id="button-grid">
          <div></div>
          <div>
              <button id="CtoFToggle" (click)="ToggleWeatherMeasurement(isC)" class="btn btn-primary">
                <span *ngIf="!isC">C°</span>
                <span *ngIf="isC">F°</span>
  
              </button>
          </div>
          <div></div>
          <div>
  
              <button class="btn btn-primary" id="KMtoMToggle" (click)="ToggleDistanceMeasurement(isKm)">
                  <span *ngIf="isKm">km/hr</span>
                  <span *ngIf="!isKm">m/hr</span>
              </button>
          </div>
          <div></div>
  
      </div>
  </div>
  
    <div>
      <div id="current-weather-info">
          <div class="grid-container">
              <div>
                  Humidity
              </div>
              <div>
                  <div class="v-separator"></div>
              </div>
              <div class='rightColumn'>
                  {{this.humidity}}%
              </div>
  
              <div>
                  Air Pressure
              </div>
              <div>
                  <div class="v-separator"></div>
              </div>
              <div class='rightColumn'>
                  {{this?.pressure | number: '1.0-0'}} mb
              </div>
  
              <div></div>
              <div></div>
              <div class='rightColumn'></div>
  
              <div>
                  Wind Speed
              </div>
              <div>
                  <div class="v-separator"></div>
              </div>
              <div class='rightColumn'>
                <span *ngIf="isKm">
                  {{this.windSpeed}} km/h
                </span>
                <span *ngIf="!isKm">
                  {{ (this.windSpeed * 0.621371) | number: '1.2-2'}} m/h
                </span>
              </div>
  
              <div>
                  Wind Direction
              </div>
              <div></div>
              <div class='rightColumn'>
                  {{this.windDirection || 0}}°
                  <app-wind-directions-now></app-wind-directions-now>
              </div>
              <div>
                  Sunrise
              </div>
              <div>
  
              </div>
              <div class='rightColumn'>
                  {{this.sunrise}}
              </div>
  
              <div>
                  Sunset
              </div>
              <div>
              </div>
              <div class='rightColumn'>
                  {{this.sunset}}
              </div>
          </div>
      </div>
      </div>
  </div>
  