<div class="col-lg-10">

  <div *ngIf="(this.image) === 'weather1' ">
    <div id="grid_wrapper1">
      <div id="main-outer-grid">
        <div id="local">
          <app-weather-local
            [isC]="isCParent">
            </app-weather-local>
        </div>
        <div id="center"></div>

        <div id="now">
          <weather_now
            (outputC)="receiveIsC($event)"
            (outputKM)="receiveIsKm($event)">
          </weather_now>
        </div>
        <div id="main-inner-grid">
            <div>
                <app-weather-table-details
                  [isC]="isCParent"
                  [isKm]="isKMParent">
                </app-weather-table-details>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="(this.image) === 'weather2' ">
    <div id="grid_wrapper2">
      <div id="main-outer-grid">
        <div id="local">
          <app-weather-local
          [isC]="isCParent">
          </app-weather-local>
        </div>
        <div id="center"></div>

        <div id="now">
          <weather_now
            (outputC)="receiveIsC($event)"
            (outputKM)="receiveIsKm($event)">
          </weather_now>
        </div>
        <div id="main-inner-grid">
          <div>
            <app-weather-table-details
              [isC]="isCParent"
              [isKm]="isKMParent">
            </app-weather-table-details>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="(this.image) === 'weather3' ">
    <div id="grid_wrapper3">
      <div id="main-outer-grid">
        <div id="local">
          <app-weather-local
          [isC]="isCParent">
          </app-weather-local>
        </div>
        <div id="center"></div>

        <div id="now">
          <weather_now
            (outputC)="receiveIsC($event)"
            (outputKM)="receiveIsKm($event)">
          </weather_now>
        </div>
        <div id="main-inner-grid">
          <div>
            <app-weather-table-details
              [isC]="isCParent"
              [isKm]="isKMParent">
            </app-weather-table-details>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="(this.image) === 'weather4' ">
    <div id="grid_wrapper4">
      <div id="main-outer-grid">
        <div id="local">
          <app-weather-local
            [isC]="isCParent">
          </app-weather-local>
        </div>
        <div id="center"></div>

        <div id="now">
          <weather_now
            (outputC)="receiveIsC($event)"
            (outputKM)="receiveIsKm($event)">
          </weather_now>
        </div>
        <div id="main-inner-grid">
          <div>
            <app-weather-table-details
              [isC]="isCParent"
              [isKm]="isKMParent">
            </app-weather-table-details>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="(this.image) === 'weather5' ">
    <div id="grid_wrapper5">
      <div id="main-outer-grid">
        <div id="local">
          <app-weather-local
            [isC]="isCParent">
            </app-weather-local>
        </div>
        <div id="center"></div>

        <div id="now">
          <weather_now
              (outputC)="receiveIsC($event)"
              (outputKM)="receiveIsKm($event)">
            </weather_now>
        </div>
        <div id="main-inner-grid">
            <div>
                <app-weather-table-details
                  [isC]="isCParent"
                  [isKm]="isKMParent">
                </app-weather-table-details>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="(this.image) === 'weather6' ">
    <div id="grid_wrapper6">
      <div id="main-outer-grid">
        <div id="local">
          <app-weather-local
            [isC]="isCParent">
            </app-weather-local>
        </div>
        <div id="center"></div>

        <div id="now">
          <weather_now
              (outputC)="receiveIsC($event)"
              (outputKM)="receiveIsKm($event)">
            </weather_now>
        </div>
        <div id="main-inner-grid">
            <div>
                <app-weather-table-details
                  [isC]="isCParent"
                  [isKm]="isKMParent">
                </app-weather-table-details>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
