<div id="table_container">
  <div id="table-grid">
      <div class="description">Local Time</div>
      <div>{{currentTime + (3600000*3) | date : 'shortTime'}}</div>
      <div class="show-or-not3">{{currentTime + (3600000*9) | date: 'shortTime'}}</div>
      <div>{{currentTime + (3600000*15) | date: 'shortTime'}}</div>
      <div>{{currentTime + (3600000*24) | date: 'MMM d'}}</div>
      <div>{{currentTime + (3600000*48) | date: 'MMM d'}}</div>
      <div>{{currentTime + (3600000*72) | date: 'MMM d'}}</div>
      <div class="show-or-not2" >{{currentTime + (3600000*96) | date: 'MMM d'}}</div>
      <div class="show-or-not" >{{currentTime + (3600000*120) | date: 'MMM d'}}</div>

      <div class="description table-grid-odd">Outlook</div>
      <div class="table-grid-odd">
          <app-weather-table-switch-three-hrs></app-weather-table-switch-three-hrs>
      </div>
      <div class="table-grid-odd show-or-not3">
          <app-weather-table-switch-nine-hrs></app-weather-table-switch-nine-hrs>
      </div>
      <div class="table-grid-odd">
          <app-weather-table-switch-fifteen-hrs></app-weather-table-switch-fifteen-hrs>
      </div>
      <div class="table-grid-odd">
          <app-weather-table-switch-day1></app-weather-table-switch-day1>
      </div>
      <div class="table-grid-odd">
          <app-weather-table-switch-day2></app-weather-table-switch-day2>
      </div>
      <div class="table-grid-odd">
          <app-weather-table-switch-day3></app-weather-table-switch-day3>
      </div>
      <div class="table-grid-odd show-or-not2">
          <app-weather-table-switch-day4></app-weather-table-switch-day4>
      </div>
      <div class="show-or-not table-grid-odd">
        <app-weather-table-switch-day5></app-weather-table-switch-day5>
      </div>

      <div class="description">Temperature</div>
      <div>
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus3 | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus3 * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div class="show-or-not3">
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus9 | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus9 * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div>
          <span *ngIf="!this.getWeather.isC">
                {{this.getWeather.weatherLocalDetails.temperaturePlus15 | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus15 * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div>
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus1Day | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus1Day * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div>
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus2Day | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus2Day * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div>
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus3Day | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus3Day * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div class="show-or-not2">
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus4Day | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus4Day * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div class="show-or-not">
          <span *ngIf="!this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus5Day | number: '1.0-0'}}°C
            </span>
          <span *ngIf="this.getWeather.isC">
                {{ this.getWeather.weatherLocalDetails.temperaturePlus5Day * (9/5) + 32 | number: '1.0-0'}}°F
            </span>
      </div>

      <div class="description table-grid-odd">Air Pressure</div>

      <div class="table-grid-odd">
        {{ this.getWeather.weatherLocalDetails.humidity3Hrs }} mb
      </div>
      <div class="table-grid-odd show-or-not3">
        {{ this.getWeather.weatherLocalDetails.humidity9Hrs }} mb
      </div>
      <div class="table-grid-odd">
        {{ this.getWeather.weatherLocalDetails.humidity15Hrs }} mb
      </div>
      <div class="table-grid-odd">
        {{ this.getWeather.weatherLocalDetails.humidity1Day }} mb
      </div>
      <div class="table-grid-odd">
        {{ this.getWeather.weatherLocalDetails.humidity2Days }} mb
      </div>
      <div class="table-grid-odd">
        {{ this.getWeather.weatherLocalDetails.humidity3Days }} mb
      </div>
      <div class="table-grid-odd show-or-not2">
        {{ this.getWeather.weatherLocalDetails.humidity4Days }} mb
      </div>
      <div class="table-grid-odd show-or-not">
        {{ this.getWeather.weatherLocalDetails.humidity5Days }} mb
      </div>


      <div class="description">Wind Speed</div>
      <div>
          <span *ngIf="this.getWeather.isKm">
                {{ this.getWeather.weatherLocalDetails.humidity3Hrs }} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity3Hrs * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>
      <div class="show-or-not3">
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity9Hrs}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity9Hrs * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>
      <div>
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity15Hrs}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity15Hrs * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div >
      <div>
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity1Day}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity1Day * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>
      <div>
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity2Days}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity2Days * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>
      <div>
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity3Days}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity3Days * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>
      <div class="show-or-not2">
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity4Days}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity4Days * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>
      <div class="show-or-not">
          <span *ngIf="this.getWeather.isKm">
                {{this.getWeather.weatherLocalDetails.humidity5Days}} km/h
            </span>
          <span *ngIf="!this.getWeather.isKm">
                {{ (this.getWeather.weatherLocalDetails.humidity5Days * 0.621371) | number: '1.2-2'}} m/h
            </span>
      </div>

      <div class="description table-grid-odd">Wind Direction</div>
      <div class="table-grid-odd">{{ this.getWeather.weatherLocalDetails.windDirection3Hrs | number: '1.0-0' }}°
        <app-wind-directions3hrs></app-wind-directions3hrs>
      </div>
      <div class="table-grid-odd show-or-not3">{{ this.getWeather.weatherLocalDetails.windDirection9Hrs | number: '1.0-0' }}°
        <app-wind-directions9hrs></app-wind-directions9hrs>
      </div>
      <div class="table-grid-odd">{{ this.getWeather.weatherLocalDetails.windDirection15Hrs | number: '1.0-0' }}°
          <app-wind-directions15hrs></app-wind-directions15hrs>
      </div>
      <div class="table-grid-odd">{{ this.getWeather.weatherLocalDetails.windDirection1Day | number: '1.0-0' }}°
          <app-wind-directions1day></app-wind-directions1day>
      </div>
      <div class="table-grid-odd">{{ this.getWeather.weatherLocalDetails.windDirection2Days | number: '1.0-0' }}°
          <app-wind-directions2days></app-wind-directions2days>
      </div>
      <div class="table-grid-odd">{{ this.getWeather.weatherLocalDetails.windDirection3Days | number: '1.0-0' }}°
          <app-wind-directions3days></app-wind-directions3days>
      </div>
      <div class="table-grid-odd show-or-not2">{{ this.getWeather.weatherLocalDetails.windDirection4Days | number: '1.0-0' }}°
        <app-wind-directions4days></app-wind-directions4days>
      </div >
      <div class="table-grid-odd show-or-not">{{ this.getWeather.weatherLocalDetails.windDirection5Days | number: '1.0-0' }}°
        <app-wind-directions5days></app-wind-directions5days>
      </div>

      <div class="description">Sunrise</div>
      <div></div>
      <div class="show-or-not3"></div>
      <div></div>
      <div>{{this?.getWeather?.sunriseSunsetTomorrow?.astronomical_twilight_begin}}</div>
      <div>{{this?.getWeather?.sunriseSunsetPlusTwo?.astronomical_twilight_begin}}</div>
      <div>{{this?.getWeather?.sunriseSunsetPlusThree?.astronomical_twilight_begin}}</div>
      <div class="show-or-not2">{{this?.getWeather?.sunriseSunsetPlusFour?.astronomical_twilight_begin}}</div>
      <div class="show-or-not">{{this?.getWeather?.sunriseSunsetPlusFour?.astronomical_twilight_begin}}</div>

      <div class="description table-grid-odd">Sunset</div>
      <div class="table-grid-odd show-or-not3"></div>
      <div class="table-grid-odd"></div>
      <div class="table-grid-odd"></div>
      <div class="table-grid-odd">{{this?.getWeather?.sunriseSunsetTomorrow?.astronomical_twilight_end}}</div>
      <div class="table-grid-odd">{{this?.getWeather?.sunriseSunsetPlusTwo?.astronomical_twilight_end}}</div>
      <div class="table-grid-odd">{{this?.getWeather?.sunriseSunsetPlusThree?.astronomical_twilight_end}}</div>
      <div class="table-grid-odd show-or-not2">{{this?.getWeather?.sunriseSunsetPlusFour?.astronomical_twilight_end}}</div>
      <div class="table-grid-odd show-or-not">{{this?.getWeather?.sunriseSunsetPlusFive?.astronomical_twilight_end}}</div>

  </div>
</div>
